/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,400italic,300italic');

body {
  padding-top: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1 {
	font-size: 40px;
}

h3 {
	font-weight: 400;
}

h4 {
	font-weight: 400;
	font-size: 20px;
}


a {
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #b7cb1b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ddd;
}

.navbar{
    margin: 0 auto;
}

a.navbar-brand {
	color: #fff !important;
	font-weight: 900;
	text-transform: uppercase;
}
a.navbar-brand:hover {
  color: #ddd !important;
}

/* Header */



#bg1 {	
	background-color: #444;
	background: url(Image/bg1.jpg) no-repeat center top;
	padding-top: 30px;
	background-attachment: relative;
	background-position: center center;
	min-height: 800px;
	width: 100%;
	min-height: 850px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
     -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg2 {  
  background-color: #444;
  background: url(Image/bg2.jpg) no-repeat center top;
  padding: 20px 0px 20px 0px;
  background-attachment: relative;
  background-position: center center;
  min-height: 850px;
  width: 100%;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg3 {  
  background-color: #444;
  background: url(Image/bg3.jpg) no-repeat center top;
  padding: 20px 0px 50px 0px;
  background-attachment: relative;
  background-position: center center;
  min-height: 850px;
  width: 100%;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg4 {  
  background-color: #444;
  background: url(Image/bg4.jpg) no-repeat center top;
  padding-top: 20px;
  background-attachment: relative;
  background-position: center center;
  min-height: 850px;
  width: 100%;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg5 {  
  background-color: #444;
  background: url(Image/bg5.jpg) no-repeat center top;
  padding-top: 20px;
  background-attachment: relative;
  background-position: center center;
  min-height: 850px;
  width: 100%;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg1 h1 {
	margin-bottom: 15px;
	color: #fff;
	font-size: 45px;
	font-weight: 900;
	letter-spacing: -1px;
    text-shadow: 2px 2px black;
}

#bg2 h1{
    margin-bottom: 15px;
    margin-top: -115px;
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
    text-shadow: 2px 2px black;
    padding: 0px 0px 30px 0px;
}

#bg2 h2{
    font-size: 25px;
}

#bg2_title{
    margin: 0 auto;
    height: 155px;
}

#bg3_title{
    margin: 0 auto;
    height: 155px;
}

#bg2 h2{
    margin-top: 10px;
    color: white;
}

.media-object{
    margin-top: 15px;
}

#bg3 h1{
    margin-top: -115px;
    margin-bottom: 15px;
    color: #967849;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
    padding: 0px 0px 30px 0px;
    text-shadow: 2px 2px 20px #FFFFFF;
}

#bg3 h2{
    text-shadow: 2px 2px 20px #000000;
    color: white;
}

#bg3 h3{
    text-shadow: 2px 2px 20px #fff;
    color: black;
    font-size: 30px;
}





h2.subtitle {
	color: #fff;
	font-size: 20px;
}


/* footer */
#footer {
	background: #fd680e;
	padding: 20px 0 5px;
}

p.copyright {
	color: #fff;
	text-align: center;
}	

#panel{
    margin: 410px 0px 0px 0px;
}

.dark-panel{
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
}


.pac-container {
    z-index: 1100;
}

.glyphicon-gbp{
    font-size: 0.8em;
}

.list{
    margin: 50px 0px 50px 0px;
}

